
[class*="lines-"] {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
[dir=rtl] .wiloke-posts-elegant-wrapper .l\:10px { left: initial }
[dir=rtl] .wiloke-posts-elegant-wrapper .r\:0 { right: initial }
.lines-2 { -webkit-line-clamp: 2 }
[dir=rtl] .wiloke-posts-elegant-wrapper .l\:0 { left: initial }
[dir=rtl] .wiloke-posts-elegant-wrapper .ml\:-2px { margin-left: initial }
[dir=rtl] .wiloke-posts-elegant-wrapper .l\:0\|af:after { left: initial }
[dir=rtl] .wiloke-posts-elegant-wrapper .pr\:pfs\(20px\,90px\) { padding-right: initial }
[dir=rtl] .wiloke-posts-elegant-wrapper .pr\:0\@\+sm { padding-right: initial }
[dir=rtl] .wiloke-posts-elegant-wrapper .mr\:3px { margin-right: initial }
[dir=rtl] .wiloke-posts-elegant-wrapper .mr\:-2px { margin-right: initial }
.wiloke-posts-elegant-wrapper .bg\:none\! { background: none !important }
.wiloke-posts-elegant-wrapper .bgc\:\#eee { background-color: #eee }
.wiloke-posts-elegant-wrapper .cur\:pointer { cursor: pointer }
.wiloke-posts-elegant-wrapper .d\:flex { display: flex }
.wiloke-posts-elegant-wrapper .d\:flex\! { display: flex !important }
.wiloke-posts-elegant-wrapper .fld\:column\! { flex-direction: column !important }
.wiloke-posts-elegant-wrapper .fz\:20px { font-size: 20px }
.wiloke-posts-elegant-wrapper .h\:auto\! { height: auto !important }
.wiloke-posts-elegant-wrapper .lh\:1\.5 { line-height: 1.5 }
.wiloke-posts-elegant-wrapper .mih\:100\%\! { min-height: 100% !important }
.wiloke-posts-elegant-wrapper .op\:0 { opacity: 0 }
.wiloke-posts-elegant-wrapper .p\:40px { padding: 40px }
.wiloke-posts-elegant-wrapper .pos\:absolute { position: absolute }
.wiloke-posts-elegant-wrapper .ta\:center { text-align: center }
.wiloke-posts-elegant-wrapper .fxw\:wrap { flex-wrap: wrap }
.wiloke-posts-elegant-wrapper .bgc\:\#fff { background-color: #fff }
.wiloke-posts-elegant-wrapper .bgc\:\#000 { background-color: #000 }
.wiloke-posts-elegant-wrapper .bgc\:\#FF6767\|af:after { background-color: #FF6767 }
.wiloke-posts-elegant-wrapper .bgc\:\#E3E3E3 { background-color: #E3E3E3 }
.wiloke-posts-elegant-wrapper .bgz\:cover { background-size: cover }
.wiloke-posts-elegant-wrapper .bgp\:center { background-position: center }
.wiloke-posts-elegant-wrapper .c\:\#fff { color: #fff }
.wiloke-posts-elegant-wrapper .c\:\#FF6767\|h:hover { color: #FF6767 }
.wiloke-posts-elegant-wrapper .c\:\#000 { color: #000 }
.wiloke-posts-elegant-wrapper .c\:\#464646 { color: #464646 }
.wiloke-posts-elegant-wrapper .cnt\:\(\)\|af:after { content: '' }
.wiloke-posts-elegant-wrapper .d\:block { display: block }
.wiloke-posts-elegant-wrapper .d\:inline-flex { display: inline-flex }
.wiloke-posts-elegant-wrapper .flx\:auto { flex: auto }
.wiloke-posts-elegant-wrapper .fld\:column { flex-direction: column }
.wiloke-posts-elegant-wrapper .ai\:center { align-items: center }
.wiloke-posts-elegant-wrapper .jc\:center { justify-content: center }
.wiloke-posts-elegant-wrapper .ff\:Poppins { font-family: Poppins }
.wiloke-posts-elegant-wrapper .ff\:Lora { font-family: Lora }
.wiloke-posts-elegant-wrapper .fw\:600 { font-weight: 600 }
.wiloke-posts-elegant-wrapper .fw\:500 { font-weight: 500 }
.wiloke-posts-elegant-wrapper .fz\:12px { font-size: 12px }
.wiloke-posts-elegant-wrapper .fz\:18px { font-size: 18px }
.wiloke-posts-elegant-wrapper .fz\:13px { font-size: 13px }
.wiloke-posts-elegant-wrapper .fs\:italic { font-style: italic }
.wiloke-posts-elegant-wrapper .h\:40px { height: 40px }
.wiloke-posts-elegant-wrapper .h\:2px { height: 2px }
.wiloke-posts-elegant-wrapper .ins\:0 { inset: 0 }
.wiloke-posts-elegant-wrapper .ins\:0\|af:after { inset: 0 }
.wiloke-posts-elegant-wrapper .l\:10px { left: 10px }
[dir=rtl] .wiloke-posts-elegant-wrapper .l\:10px { right: 10px }
.wiloke-posts-elegant-wrapper .lts\:2px\! { letter-spacing: 2px !important }
.wiloke-posts-elegant-wrapper .lh\:0\! { line-height: 0 !important }
.wiloke-posts-elegant-wrapper .m\:0_20px_20px_0 { margin: 0 20px 20px 0 }
[dir=rtl] .wiloke-posts-elegant-wrapper .m\:0_20px_20px_0 { margin: 0 0 20px 20px }
.wiloke-posts-elegant-wrapper .m\:0\! { margin: 0 !important }
.wiloke-posts-elegant-wrapper .m\:0_15px { margin: 0 15px }
.wiloke-posts-elegant-wrapper .mt\:auto { margin-top: auto }
.wiloke-posts-elegant-wrapper .mt\:20px { margin-top: 20px }
.wiloke-posts-elegant-wrapper .mih\:100\% { min-height: 100% }
.wiloke-posts-elegant-wrapper .t\:10px { top: 10px }
.wiloke-posts-elegant-wrapper .b\:0 { bottom: 0 }
.wiloke-posts-elegant-wrapper .op\:0\|af:after { opacity: 0 }
.wiloke-posts-elegant-wrapper .op\:0\.6\!\|h:hover { opacity: 0.6 !important }
.wiloke-posts-elegant-wrapper .p\:8px_12px { padding: 8px 12px }
.wiloke-posts-elegant-wrapper .p\:7px_0_20px { padding: 7px 0 20px }
.wiloke-posts-elegant-wrapper .pt\:100\% { padding-top: 100% }
.wiloke-posts-elegant-wrapper .pt\:20px { padding-top: 20px }
.wiloke-posts-elegant-wrapper .pos\:relative { position: relative }
.wiloke-posts-elegant-wrapper .pos\:absolute\|af:after { position: absolute }
.wiloke-posts-elegant-wrapper .td\:none\! { text-decoration: none !important }
.wiloke-posts-elegant-wrapper .tt\:uppercase { text-transform: uppercase }
.wiloke-posts-elegant-wrapper .trf\:translate\(0px\,0px\)\|af:after { transform: translate(0px,0px) }
.wiloke-posts-elegant-wrapper .trs\:0\.3s_ease { transition: 0.3s ease }
.wiloke-posts-elegant-wrapper .trs\:0\.3s { transition: 0.3s }
.wiloke-posts-elegant-wrapper .trs\:0\.3s\|af:after { transition: 0.3s }
.wiloke-posts-elegant-wrapper .trs\:all_\.3s { transition: all .3s }
.wiloke-posts-elegant-wrapper .w\:40px { width: 40px }
.wiloke-posts-elegant-wrapper .w\:20\% { width: 20% }
.wiloke-posts-elegant-wrapper .z\:3 { z-index: 3 }
.wiloke-posts-elegant-wrapper .z\:8 { z-index: 8 }
.wiloke-posts-elegant-wrapper .z\:-1\|af:after { z-index: -1 }
.wiloke-posts-elegant-wrapper .r\:0 { right: 0 }
[dir=rtl] .wiloke-posts-elegant-wrapper .r\:0 { left: 0 }
.wiloke-posts-elegant-wrapper .ar\:255\/294 { aspect-ratio: 255/294 }
.wiloke-posts-elegant-wrapper .bd\:2px_solid_\#000 { border: 2px solid #000 }
.wiloke-posts-elegant-wrapper .flxg\:2 { flex-grow: 2 }
.wiloke-posts-elegant-wrapper .flxg\:1 { flex-grow: 1 }
.wiloke-posts-elegant-wrapper .fld\:row { flex-direction: row }
.wiloke-posts-elegant-wrapper .jc\:flex-start { justify-content: flex-start }
.wiloke-posts-elegant-wrapper .fz\:14px { font-size: 14px }
.wiloke-posts-elegant-wrapper .h\:1px { height: 1px }
.wiloke-posts-elegant-wrapper .l\:0 { left: 0 }
[dir=rtl] .wiloke-posts-elegant-wrapper .l\:0 { right: 0 }
.wiloke-posts-elegant-wrapper .m\:0_-10px { margin: 0 -10px }
.wiloke-posts-elegant-wrapper .mt\:-2px { margin-top: -2px }
.wiloke-posts-elegant-wrapper .ml\:-2px { margin-left: -2px }
[dir=rtl] .wiloke-posts-elegant-wrapper .ml\:-2px { margin-right: -2px }
.wiloke-posts-elegant-wrapper .op\:0\.7\|h:hover { opacity: 0.7 }
.wiloke-posts-elegant-wrapper .ov\:hidden { overflow: hidden }
.wiloke-posts-elegant-wrapper .p\:30px_20px { padding: 30px 20px }
.wiloke-posts-elegant-wrapper .p\:0_10px { padding: 0 10px }
.wiloke-posts-elegant-wrapper .p\:10px_18px { padding: 10px 18px }
.wiloke-posts-elegant-wrapper .p\:4px_10px { padding: 4px 10px }
.wiloke-posts-elegant-wrapper .p\:4px_9px { padding: 4px 9px }
.wiloke-posts-elegant-wrapper .pt\:9px { padding-top: 9px }
.wiloke-posts-elegant-wrapper .w\:100\% { width: 100% }
.wiloke-posts-elegant-wrapper .ar\:401\/300 { aspect-ratio: 401/300 }
.wiloke-posts-elegant-wrapper .bd\:2px_solid_\#E3E3E3 { border: 2px solid #E3E3E3 }
.wiloke-posts-elegant-wrapper .bdt\:1px_solid_\#E3E3E3 { border-top: 1px solid #E3E3E3 }
.wiloke-posts-elegant-wrapper .bdb\:1px_solid_\#E3E3E3 { border-bottom: 1px solid #E3E3E3 }
.wiloke-posts-elegant-wrapper .group\*:hover .bdc\:\#fff\*group-hover { border-color: #fff }
.wiloke-posts-elegant-wrapper .bdrs\:50\% { border-radius: 50% }
.wiloke-posts-elegant-wrapper .bgc\:\#fff\|af:after { background-color: #fff }
.wiloke-posts-elegant-wrapper .group\*:hover .c\:\#fff\*group-hover { color: #fff }
.wiloke-posts-elegant-wrapper .c\:\#1B113E { color: #1B113E }
.wiloke-posts-elegant-wrapper .jc\:space-between { justify-content: space-between }
.wiloke-posts-elegant-wrapper .fz\:24px { font-size: 24px }
.wiloke-posts-elegant-wrapper .h\:72px { height: 72px }
.wiloke-posts-elegant-wrapper .h\:2px\|af:after { height: 2px }
.wiloke-posts-elegant-wrapper .l\:0\|af:after { left: 0 }
[dir=rtl] .wiloke-posts-elegant-wrapper .l\:0\|af:after { right: 0 }
.wiloke-posts-elegant-wrapper .mt\:0\! { margin-top: 0 !important }
.wiloke-posts-elegant-wrapper .mb\:-1px { margin-bottom: -1px }
.wiloke-posts-elegant-wrapper .maw\:80\% { max-width: 80% }
.wiloke-posts-elegant-wrapper .b\:-3px\|af:after { bottom: -3px }
.wiloke-posts-elegant-wrapper .group\*:hover .op\:1\*group-hover { opacity: 1 }
.wiloke-posts-elegant-wrapper .group\*:hover .op\:1\*group-hover\|af:after { opacity: 1 }
.wiloke-posts-elegant-wrapper .p\:20px_30px { padding: 20px 30px }
.wiloke-posts-elegant-wrapper .pt\:100px\|h:hover { padding-top: 100px }
.wiloke-posts-elegant-wrapper .pt\:15px { padding-top: 15px }
.wiloke-posts-elegant-wrapper .pr\:pfs\(20px\,90px\) { padding-right: clamp(20px, 8.75vw - 15px, 90px) }
[dir=rtl] .wiloke-posts-elegant-wrapper .pr\:pfs\(20px\,90px\) { padding-left: clamp(20px, 8.75vw - 15px, 90px) }
.wiloke-posts-elegant-wrapper .trs\:all_0\.3s { transition: all 0.3s }
.wiloke-posts-elegant-wrapper .trs\:all_0\.3 { transition: all 0.3 }
.wiloke-posts-elegant-wrapper .whs\:nowrap { white-space: nowrap }
.wiloke-posts-elegant-wrapper .w\:72px { width: 72px }
.wiloke-posts-elegant-wrapper .w\:100\%\|af:after { width: 100% }
.wiloke-posts-elegant-wrapper .z\:9 { z-index: 9 }
.wiloke-posts-elegant-wrapper .z\:-1 { z-index: -1 }
.wiloke-posts-elegant-wrapper .wc\:padding-top { will-change: padding-top }
.wiloke-posts-elegant-wrapper .bd\:2px_solid_\#000\|af:after { border: 2px solid #000 }
.wiloke-posts-elegant-wrapper .c\:\#AB9871 { color: #AB9871 }
.wiloke-posts-elegant-wrapper .c\:\#D2D2D2 { color: #D2D2D2 }
.wiloke-posts-elegant-wrapper .c\:\#4E4E4E { color: #4E4E4E }
.wiloke-posts-elegant-wrapper .c\:\#737373 { color: #737373 }
.wiloke-posts-elegant-wrapper .d\:inline-block { display: inline-block }
.wiloke-posts-elegant-wrapper .h\:42px { height: 42px }
.wiloke-posts-elegant-wrapper .lts\:1px\! { letter-spacing: 1px !important }
.wiloke-posts-elegant-wrapper .lh\:1\.7 { line-height: 1.7 }
.wiloke-posts-elegant-wrapper .m\:0_-15px { margin: 0 -15px }
.wiloke-posts-elegant-wrapper .mr\:3px { margin-right: 3px }
[dir=rtl] .wiloke-posts-elegant-wrapper .mr\:3px { margin-left: 3px }
.wiloke-posts-elegant-wrapper .mr\:-2px { margin-right: -2px }
[dir=rtl] .wiloke-posts-elegant-wrapper .mr\:-2px { margin-left: -2px }
.wiloke-posts-elegant-wrapper .mb\:30px { margin-bottom: 30px }
.wiloke-posts-elegant-wrapper .maw\:127px { max-width: 127px }
.wiloke-posts-elegant-wrapper .p\:0_15px { padding: 0 15px }
.wiloke-posts-elegant-wrapper .p\:18px_18px_18px_0 { padding: 18px 18px 18px 0 }
[dir=rtl] .wiloke-posts-elegant-wrapper .p\:18px_18px_18px_0 { padding: 18px 0 18px 18px }
.wiloke-posts-elegant-wrapper .p\:11px_18px { padding: 11px 18px }
.wiloke-posts-elegant-wrapper .pt\:17px { padding-top: 17px }
.wiloke-posts-elegant-wrapper .pt\:28px { padding-top: 28px }
.wiloke-posts-elegant-wrapper .group\*:hover .trf\:translate\(10px\,10px\)\*group-hover\|af:after { transform: translate(10px,10px) }
.wiloke-posts-elegant-wrapper .group\*:hover [dir=rtl] .trf\:translate\(10px\,10px\)\*group-hover\|af:after { transform: translate(-10px,10px) }
.wiloke-posts-elegant-wrapper .w\:40\% { width: 40% }
.wiloke-posts-elegant-wrapper .w\:60\% { width: 60% }
.wiloke-posts-elegant-wrapper .w\:42px { width: 42px }
.wiloke-posts-elegant-wrapper .ar\:1 { aspect-ratio: 1 }
.wiloke-posts-elegant-wrapper .fw\:400 { font-weight: 400 }
.wiloke-posts-elegant-wrapper .fz\:16px { font-size: 16px }
.wiloke-posts-elegant-wrapper .m\:0_10px { margin: 0 10px }
.wiloke-posts-elegant-wrapper .p\:20px { padding: 20px }
.wiloke-posts-elegant-wrapper .p\:7px_9px { padding: 7px 9px }
.wiloke-posts-elegant-wrapper .pt\:12px { padding-top: 12px }
.wiloke-posts-elegant-wrapper .pe\:none { pointer-events: none }
.wiloke-posts-elegant-wrapper .v\:hidden { visibility: hidden }
.wiloke-posts-elegant-wrapper .w\:282px { width: 282px }
.wiloke-posts-elegant-wrapper .bdrs\:15px_15px_0px_0px { border-radius: 15px 15px 0px 0px }
.wiloke-posts-elegant-wrapper .fil\:drop-shadow\(0px_2px_16px_rgba\(0\,0\,0\,0\.06\)\) { filter: drop-shadow(0px 2px 16px rgba(0,0,0,0.06)) }
.wiloke-posts-elegant-wrapper .pt\:110\% { padding-top: 110% }
.wiloke-posts-elegant-wrapper .pb\:16px { padding-bottom: 16px }
.wiloke-posts-elegant-wrapper .group\*:hover .trf\:scale\(1\.1\)\*group-hover { transform: scale(1.1) }
@media (max-width:767px) { 
.wiloke-posts-elegant-wrapper .fld\:column\@\+sm { flex-direction: column }
.wiloke-posts-elegant-wrapper .fld\:row\@\+sm { flex-direction: row }
.wiloke-posts-elegant-wrapper .m\:0_0_0_-2px\!\@\+sm { margin: 0 0 0 -2px !important }
[dir=rtl] .wiloke-posts-elegant-wrapper .m\:0_0_0_-2px\!\@\+sm { margin: 0 -2px 0 0 !important }
.wiloke-posts-elegant-wrapper .mt\:10px\@\+sm { margin-top: 10px }
.wiloke-posts-elegant-wrapper .mih\:100\%\@\+sm { min-height: 100% }
.wiloke-posts-elegant-wrapper .jc\:center\@\+sm { justify-content: center }
.wiloke-posts-elegant-wrapper .maw\:100\%\@\+sm { max-width: 100% }
.wiloke-posts-elegant-wrapper .p\:20px_0\@\+sm { padding: 20px 0 }
.wiloke-posts-elegant-wrapper .p\:15px_10px_0_10px\@\+sm { padding: 15px 10px 0 10px }
.wiloke-posts-elegant-wrapper .pt\:15px\@\+sm { padding-top: 15px }
.wiloke-posts-elegant-wrapper .pr\:0\@\+sm { padding-right: 0 }
[dir=rtl] .wiloke-posts-elegant-wrapper .pr\:0\@\+sm { padding-left: 0 }
.wiloke-posts-elegant-wrapper .ta\:center\@\+sm { text-align: center }
.wiloke-posts-elegant-wrapper .w\:100\%\@\+sm { width: 100% } }
@media (max-width:1199px) { 
.wiloke-posts-elegant-wrapper .p\:10px\@\+lg\! { padding: 10px !important } }